# Copyright Drycc Community.
# SPDX-License-Identifier: APACHE-2.0

## @section Global parameters
## Global Docker image parameters
## Please, note that this will override the image parameters, including dependencies, configured to use the global value
## Current available global Docker image parameters: imageRegistry, imagePullSecrets and storageClass
##

## @param global.imageRegistry Global Docker image registry
## @param global.imagePullSecrets Global Docker registry secret names as an array
## @param global.storageClass Global StorageClass for Persistent Volume(s)
##
global:
  imageRegistry: ""
  ## E.g.
  ## imagePullSecrets:
  ##   - myRegistryKeySecretName
  ##
  imagePullSecrets: []
  storageClass: ""

## @section Common parameters
##

## @param kubeVersion Override Kubernetes version
##
kubeVersion: ""
## @param nameOverride String to partially override common.names.name
##
nameOverride: ""
## @param fullnameOverride String to fully override common.names.fullname
##
fullnameOverride: ""
## @param namespaceOverride String to fully override common.names.namespace
##
namespaceOverride: ""
## @param commonLabels Labels to add to all deployed objects
##
commonLabels: {}
## @param commonAnnotations Annotations to add to all deployed objects
##
commonAnnotations: {}
## @param clusterDomain Kubernetes cluster domain name
##
clusterDomain: cluster.local
## @param extraDeploy Array of extra objects to deploy with the release
##
extraDeploy: []

## Enable diagnostic mode in the deployment
##
diagnosticMode:
  ## @param diagnosticMode.enabled Enable diagnostic mode (all probes will be disabled and the command will be overridden)
  ##
  enabled: false
  ## @param diagnosticMode.command Command to override all containers in the deployment
  ##
  command:
    - sleep
  ## @param diagnosticMode.args Args to override all containers in the deployment
  ##
  args:
    - infinity

## Drycc deployment image
## ref: https://registry.drycc.cc/drycc-addons/fluentbit/tags/
## @param deployment.image.registry deployment image registry
## @param deployment.image.repository deployment image repository
## @skip deployment.image.tag deployment image tag (immutable tags are recommended)
## @param deployment.image.digest deployment image digest in the way sha256:aa.... Please note this parameter, if set, will override the tag image tag (immutable tags are recommended)
## @param deployment.image.pullPolicy deployment image pull policy
## @param deployment.image.pullSecrets deployment image pull secrets
## @param deployment.image.debug Enable deployment image debug mode
##
image:
  registry: registry.drycc.cc
  repository: drycc-addons/fluentbit
  tag: 2
  digest: ""
  ## Specify a imagePullPolicy
  ## Defaults to 'Always' if image tag is 'latest', else set to 'IfNotPresent'
  ## ref: http://kubernetes.io/docs/user-guide/images/#pre-pulling-images
  ##
  pullPolicy: IfNotPresent
  ## Optionally specify an array of imagePullSecrets.
  ## Secrets must be manually created in the namespace.
  ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
  ## e.g:
  ## pullSecrets:
  ##   - myRegistryKeySecretName
  ##
  pullSecrets: []
  ## Enable debug mode
  ##
  debug: false

## @section reloader Parameters
##

## reloader
##
reloader:
  ## @param reloader.image Fluentbit Config Reloader image. If not set, the same as `image.registry`
  ## registry:
  ## repository:
  ## tag:
  ## digest: ""
  ## pullSecrets:
  ##
  image:
    registry: registry.drycc.cc
    repository: drycc-addons/config-reloader
    tag: "0"
    digest: ""
    pullPolicy: IfNotPresent
    pullSecrets: []
  ## Configure Container Security Context
  ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-container
  ## @param reloader.containerSecurityContext.enabled Enabled reloader containers' Security Context
  ## @param reloader.containerSecurityContext.runAsUser Set reloader containers' Security Context runAsUser
  ## @param reloader.containerSecurityContext.runAsNonRoot Set reloader containers' Security Context runAsNonRoot
  ## @param reloader.containerSecurityContext.readOnlyRootFilesystem Set reloader containers' Security Context runAsNonRoot
  ##
  containerSecurityContext:
    enabled: true
    runAsUser: 1001
    runAsNonRoot: true
    readOnlyRootFilesystem: false
  resources:
    limits: {}
    requests: {}
  delayInterval: 300
## @section daemonset Parameters
##

## daemonset
##
daemonset:
  ## deployment resource requests and limits
  ## ref: http://kubernetes.io/docs/user-guide/compute-resources/
  ## @param deployment.resources.limits The resources limits for the deployment containers
  ## @param deployment.resources.requests The requested resources for the deployment containers
  ##
  resources:
    limits: {}
    requests: {}
  ## @param deployment.podLabels Extra labels for deployment pods
  ## ref: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/
  ##
  podLabels: {}
  ## @param deployment.podAnnotations Annotations for deployment pods
  ## ref: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/
  ##
  podAnnotations: {}
  # Interval to flush output (seconds)
  ## @param deployment.updateStrategy.type deployment statefulset strategy type
  ## ref: https://kubernetes.io/docs/concepts/workloads/deployments/statefulset/#update-strategies
  ##
  updateStrategy:
    ## StrategyType
    ## Can be set to RollingUpdate or OnDelete
    ##
    type: OnDelete
  flush: 1
  ## https://docs.fluentbit.io/manual/administration/configuring-fluent-bit/classic-mode/configuration-file
  config:
    service: |
      [SERVICE]
          Flush               {{ .Values.daemonset.flush }}
          Daemon              Off
          Log_Level           info
          HTTP_Server         On
          HTTP_Listen         127.0.0.1
          HTTP_PORT           2020
          Hot_Reload          On
          Parsers_File        /opt/drycc/fluent-bit/etc/fluent-bit/parsers.conf

    ## https://docs.fluentbit.io/manual/pipeline/inputs
    inputs: |
      [INPUT]
          Name                tail
          Path                /var/log/containers/*_{{ .Release.Namespace }}_*.log
          DB                  /data/containers.pos.db
          DB.locking          true
          Offset_Key          offset
          Tag                 kubernetes.<namespace_name>.<pod_name>.<container_name>.<container_id>
          Tag_Regex           (?<pod_name>[a-z0-9](?:[-a-z0-9]*[a-z0-9])?(?:\\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*)_(?<namespace_name>[^_]+)_(?<container_name>.+)-(?<container_id>[a-z0-9]{64})\.log$
          Read_from_Head      false
          multiline.parser    docker,cri

      [FILTER]
          Name                Lua
          Match               kubernetes.*
          call                append_tag
          code                function append_tag(tag, timestamp, record) new_record = record local namespace, pod_name, container_name, container_id = string.match(tag, "kubernetes%.([^%.]+)%.([^%.]+)%.([^%.]+)%.(.+)") if namespace and pod_name and container_name and container_id then new_record["pod_name"] = pod_name new_record["namespace"] = namespace new_record["container_name"] = container_name new_record["container_id"] = container_id end return 1, timestamp, new_record end

      [FILTER]
          name                multiline
          match               kubernetes.*
          multiline.parser    python_multiline,java_multiline,go_multiline
          multiline.key_content log
          buffer              on

    ## https://docs.fluentbit.io/manual/pipeline/outputs
    outputs: |
      [OUTPUT]
          Name                 stdout
          Match                kubernetes.*
    ## https://docs.fluentbit.io/manual/pipeline/parsers
    parsers: |
      [PARSER]
          Name                docker
          Format              json
          Time_Key            time
          Time_Format         %Y-%m-%dT%H:%M:%S.%L
          Time_Keep           On

      [PARSER]
          # http://rubular.com/r/tjUt3Awgg4
          Name                cri
          Format              regex
          Regex               ^(?<time>[^ ]+) (?<stream>stdout|stderr) (?<logtag>[^ ]*) (?<message>.*)$
          Time_Key            time
          Time_Format         %Y-%m-%dT%H:%M:%S.%L%z
          Time_Keep           On

      [MULTILINE_PARSER]
          Name                python_multiline
          Type                regex
          Flush_Timeout       1000
          key_content         log
          Rule                "start_state"     "/^\[.*ERROR.*-- Internal Server Error: .*$/" "cont"
          Rule                "cont"            "/^Traceback \(most recent call last\):$/" "cont"
          Rule                "cont"            "/^\s+File \"/" "cont"
          Rule                "cont"            "/^\s+raise /" "cont"
          Rule                "cont"            "/^\s?\w+Error: /" "cont"
          Rule                "cont"            "/^\s+/" "cont"

      [MULTILINE_PARSER]
          Name                java_multiline
          Type                regex
          Flush_Timeout       1000
          key_content         log
          Rule                "start_state"   "/^\d{4}-\d{2}-\d{2}/" "cont"
          Rule                "cont"          "/^\s+at /" "cont"
          Rule                "cont"          "/^[a-z]/" "cont"
          Rule                "cont"          "/^Caused by:/" "cont"
          Rule                "cont"          "/^\s+/" "cont"

      [MULTILINE_PARSER]
          Name                go_multiline
          Type                regex
          Flush_Timeout       1000
          key_content         log
          Rule                "start_state"     "/^panic: /" "cont"
          Rule                "cont"            "/^\s+/" "cont"
          Rule                "cont"            "/^goroutine /" "cont"

## @section deployment Parameters
##

## deployment
##
deployment:

  ## deployment resource requests and limits
  ## ref: http://kubernetes.io/docs/user-guide/compute-resources/
  ## @param deployment.resources.limits The resources limits for the deployment containers
  ## @param deployment.resources.requests The requested resources for the deployment containers
  ##
  resources:
    limits: {}
    requests: {}
  ## Configure Pods Security Context
  ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-pod
  ## @param deployment.podSecurityContext.enabled Enabled deployment pods' Security Context
  ## @param deployment.podSecurityContext.fsGroup Set deployment pod's Security Context fsGroup
  ##
  podSecurityContext:
    enabled: true
    fsGroup: 1001
  ## Configure Container Security Context
  ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-container
  ## @param deployment.containerSecurityContext.enabled Enabled deployment containers' Security Context
  ## @param deployment.containerSecurityContext.runAsUser Set deployment containers' Security Context runAsUser
  ## @param deployment.containerSecurityContext.runAsNonRoot Set deployment containers' Security Context runAsNonRoot
  ## @param deployment.containerSecurityContext.readOnlyRootFilesystem Set deployment containers' Security Context runAsNonRoot
  ##
  containerSecurityContext:
    enabled: true
    runAsUser: 1001
    runAsNonRoot: true
    readOnlyRootFilesystem: false
  ## @param deployment.command Override default container command (useful when using custom images)
  ##
  command: []
  ## @param deployment.args Override default container args (useful when using custom images)
  ##
  args: []
  ## @param deployment.hostAliases deployment pods host aliases
  ## https://kubernetes.io/docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases/
  ##
  hostAliases: []
  ## @param deployment.daemonsetAnnotations Annotations for deployment daemonset
  ## ref: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/
  ##
  daemonsetAnnotations: {}
  ## @param deployment.deploymentAnnotations Annotations for deployment deployment
  ## ref: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/
  ##
  deploymentAnnotations: {}
  ## @param deployment.statefulsetAnnotations Annotations for deployment statefulset
  ## ref: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/
  ##
  statefulsetAnnotations: {}
  ## @param deployment.podLabels Extra labels for deployment pods
  ## ref: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/
  ##
  podLabels: {}
  ## @param deployment.podAnnotations Annotations for deployment pods
  ## ref: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/
  ##
  podAnnotations: {}
  ## @param deployment.podAffinityPreset Pod affinity preset. Ignored if deployment.affinity` is set. Allowed values: `soft` or `hard`
  ## ref: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#inter-pod-affinity-and-anti-affinity
  ##
  podAffinityPreset: ""
  ## @param deployment.podAntiAffinityPreset Pod anti-affinity preset. Ignored if `deployment.affinity` is set. Allowed values: `soft` or `hard`
  ## ref: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#inter-pod-affinity-and-anti-affinity
  ##
  podAntiAffinityPreset: soft
  ## Node deployment.affinity preset
  ## ref: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#node-affinity
  ##
  nodeAffinityPreset:
    ## @param deployment.nodeAffinityPreset.type Node affinity preset type. Ignored if `deployment.affinity` is set. Allowed values: `soft` or `hard`
    ##
    type: ""
    ## @param deployment.nodeAffinityPreset.key Node label key to match. Ignored if `deployment.affinity` is set
    ##
    key: ""
    ## @param deployment.nodeAffinityPreset.values Node label values to match. Ignored if `deployment.affinity` is set
    ## E.g.
    ## values:
    ##   - e2e-az1
    ##   - e2e-az2
    ##
    values: []
  ## @param deployment.affinity Affinity for deployment pods assignment
  ## ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity
  ## NOTE: `deployment.podAffinityPreset`, `deployment.podAntiAffinityPreset`, and `deployment.nodeAffinityPreset` will be ignored when it's set
  ##
  affinity: {}
  ## @param deployment.nodeSelector Node labels for deployment pods assignment
  ## ref: https://kubernetes.io/docs/user-guide/node-selection/
  ##
  nodeSelector: {}
  ## @param deployment.tolerations Tolerations for deployment pods assignment
  ## ref: https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/
  ##
  tolerations: []
  ## @param deployment.updateStrategy.type deployment statefulset strategy type
  ## ref: https://kubernetes.io/docs/concepts/workloads/deployments/statefulset/#update-strategies
  ##
  updateStrategy:
    ## StrategyType
    ## Can be set to RollingUpdate or OnDelete
    ##
    type: RollingUpdate

  ## ONLY FOR STATEFULSETS
  ## @param deployment.podManagementPolicy Statefulset Pod management policy, it needs to be Parallel to be able to complete the cluster join
  ## Ref: https://kubernetes.io/docs/concepts/workloads/deployments/statefulset/#pod-management-policies
  ##
  podManagementPolicy: OrderedReady

  ## @param deployment.priorityClassName deployment pods' priorityClassName
  ##
  priorityClassName: ""
  ## @param deployment.topologySpreadConstraints Topology Spread Constraints for pod assignment spread across your cluster among failure-domains. Evaluated as a template
  ## Ref: https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/#spread-constraints-for-pods
  ##
  topologySpreadConstraints: []
  ## @param deployment.schedulerName Name of the k8s scheduler (other than default) for deployment pods
  ## ref: https://kubernetes.io/docs/tasks/administer-cluster/configure-multiple-schedulers/
  ##
  schedulerName: ""
  ## @param deployment.terminationGracePeriodSeconds Seconds Redmine pod needs to terminate gracefully
  ## ref: https://kubernetes.io/docs/concepts/workloads/pods/pod/#termination-of-pods
  ##
  terminationGracePeriodSeconds: ""
  ## @param deployment.extraEnvVars Array with extra environment variables to add to deployment nodes
  ## e.g:
  ## extraEnvVars:
  ##   - name: FOO
  ##     value: "bar"
  ##
  extraEnvVars: []
  ## @param deployment.extraEnvVarsCM Name of existing ConfigMap containing extra env vars for deployment nodes
  ##
  extraEnvVarsCM: ""
  ## @param deployment.extraEnvVarsSecret Name of existing Secret containing extra env vars for deployment nodes
  ##
  extraEnvVarsSecret: ""
  ## @param deployment.sidecars Add additional sidecar containers to the deployment pod(s)
  ## e.g:
  ## sidecars:
  ##   - name: your-image-name
  ##     image: your-image
  ##     imagePullPolicy: Always
  ##     ports:
  ##       - name: portname
  ##         containerPort: 1234
  ##
  sidecars: []
  retryInterval: 300

## RBAC configuration
##
rbac:
  ## @param rbac.create Specifies whether RBAC resources should be created
  ##
  create: true
  ## @param rbac.rules Custom RBAC rules to set
  ## e.g:
  ## rules:
  ##   - apiGroups:
  ##       - ""
  ##     resources:
  ##       - pods
  ##     verbs:
  ##       - get
  ##       - list
  ##
  rules: []

## ServiceAccount configuration
##
serviceAccount:
  ## @param serviceAccount.create Specifies whether a ServiceAccount should be created
  ##
  create: true
  ## @param serviceAccount.name The name of the ServiceAccount to use.
  ## If not set and create is true, a name is generated using the common.names.fullname template
  ##
  name: ""
  ## @param serviceAccount.annotations Additional Service Account annotations (evaluated as a template)
  ##
  annotations: {}
  ## @param serviceAccount.automountServiceAccountToken Automount service account token for the server service account
  ##
  automountServiceAccountToken: true
