## @param fullnameOverride String to fully override common.names.fullname
##
fullnameOverride: hb-flink-standard-2c4g5w
## @section Jobmanager deployment parameters
##

jobmanager:
  ## @param jobmanager.replicaCount Number of Apache Flink Jobmanager replicas
  ##
  replicaCount: 1
  ## Apache Flink pods' resource requests and limits
  ## ref: https://kubernetes.io/docs/user-guide/compute-resources/
  ## Minimum memory for development is 4GB and 2 CPU cores
  ## Minimum memory for production is 8GB and 4 CPU cores
  ## ref: http://docs.datastax.com/en/archived/flink/2.0/flink/architecture/architecturePlanningHardware_c.html
  resources:
    limits:
      cpu: 2
      memory: 4Gi
    requests:
      cpu: 1
      memory: 2Gi
  ## Apache Flink jobmanager.service parameters
  ##
  service:
    ## @param jobmanager.service.type Apache Flink service type
    ##
    type: ClusterIP
## @section TaskManager deployment parameters
##

taskmanager:
  ## @param taskmanager.replicaCount Number of Apache Flink replicas
  ##
  replicaCount: 5
  ## Apache Flink pods' resource requests and limits
  ## ref: https://kubernetes.io/docs/user-guide/compute-resources/
  ## Minimum memory for development is 4GB and 2 CPU cores
  ## Minimum memory for production is 8GB and 4 CPU cores
  ## ref: http://docs.datastax.com/en/archived/flink/2.0/flink/architecture/architecturePlanningHardware_c.html
  resources:
    limits:
      cpu: 2
      memory: 4Gi
    requests:
      cpu: 1
      memory: 2Gi
  ## @param taskmanager.extraEnvVars Extra environment variables to be set on flink container
  extraEnvVars:
    # taskmanager.numberOfTaskSlots
    - name: FLINK_TASK_MANAGER_NUMBER_OF_TASK_SLOTS
      value: "2"
  ## Enable persistence using Persistent Volume Claims
  ## ref: https://kubernetes.io/docs/user-guide/persistent-volumes/
  ##
  persistence:
    ## @param taskmanager.persistence.enabled Enable persistence using a `PersistentVolumeClaim`
    ##
    enabled: true
    ## @param taskmanager.persistence.size Persistent Volume Size
    ##
    size: 8Gi