## @param fullnameOverride String to fully override common.names.fullname
##
fullnameOverride: hb-kafka-standard-24c64g3w

## @section Controller-eligible statefulset parameters
##
controller:
  ## @param controller.replicaCount Number of Kafka controller-eligible nodes
  ## Ignore this section if running in Zookeeper mode.
  ##
  replicaCount: 3
  ## @param controller.heapOpts Kafka Java Heap size for controller-eligible nodes
  ##
  heapOpts: -Xmx32G -Xms32G
  resources:
    limits:
      cpu: 24
      memory: 64Gi
    requests:
      cpu: 12
      memory: 32Gi
  ## Enable persistence using Persistent Volume Claims
  ## ref: https://kubernetes.io/docs/concepts/storage/persistent-volumes/
  ##
  persistence:
    ## @param controller.persistence.size PVC Storage Request for Kafka data volume
    ##
    size: 1Ti
