{{- /*
Copyright Drycc Community.
SPDX-License-Identifier: APACHE-2.0
*/}}

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "mysql.cluster.fullname" . }}-tools
  namespace: {{ include "common.names.namespace" . | quote }}
spec:
  replicas: 1
  selector:
    matchLabels: {{- include "common.labels.matchLabels" . | nindent 6 }}
      app.kubernetes.io/component: mysql-cluster-tools
  
  template:
    metadata:
      labels: {{- include "common.labels.standard" . | nindent 8 }}
        app.kubernetes.io/component:  mysql-cluster-tools
 
    spec:
      containers:         
        - name: cluster-tools
          image: {{ include "cluster.image" . }}
          imagePullPolicy: {{ .Values.image.pullPolicy | quote }}
          command: 
            - /bin/bash
            - -ec
            - |
              sleep infinity
          env:
            - name: MYSQL_MASTER_PORT_NUMBER
              value: {{ .Values.primary.service.ports.mysql | quote }}
            - name: MYSQL_MASTER_ROOT_USER
              value: "root"
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ template "mysql.secretName" . }}
                  key: mysql-root-password
