apiVersion: v1
kind: Secret
metadata:
  name: {{ template "patroni.fullname" . }}
  namespace: {{ include "common.names.namespace" . | quote }}
  labels:
    application: {{ template "patroni.fullname" . }}
    chart: {{ template "patroni.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    cluster-name: {{ template "patroni.fullname" . }}
type: Opaque
data: 
  password-superuser: {{ include "credentials.superuserValue" . | b64enc | quote }}
  password-rewind: {{ include "credentials.rewindValue" . | b64enc | quote }}
  password-replication: {{ include "credentials.replicationValue" . | b64enc | quote  }} 
  admin-user: {{ .Values.adminRole.username | b64enc }}
  admin-password: {{ .Values.adminRole.password | b64enc }}
