apiVersion: v1
kind: Service
metadata:
  name: {{ template "patroni.fullname" . }}
  namespace: {{ include "common.names.namespace" . | quote }}
  labels: {{- include "common.labels.standard" . | nindent 4 }}
    app.kubernetes.io/component: patroni
    application: {{ template "patroni.fullname" . }}
    chart: {{ template "patroni.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    cluster-name: {{ template "patroni.fullname" . }}
spec:
  type: {{ .Value.service.type }}
  ports:
    - port: 5432
      targetPort: 5432
      protocol: TCP