apiVersion: v1
kind: Secret
metadata:
  name: {{ include "nessie.fullname" . }}-datasource-creds
  namespace: {{ .Release.Namespace }}
type: Opaque
stringData:
  username: "{{ .Values.jdbc.username }}"
  password: "{{ .Values.jdbc.password }}"
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "nessie.fullname" . }}-awscreds
  namespace: {{ .Release.Namespace }}
type: Opaque
stringData:
  aws_access_key_id: "{{ .Values.catalog.storage.s3.defaultOptions.awsAccessKeyId }}"
  aws_secret_access_key: "{{ .Values.catalog.storage.s3.defaultOptions.awsSecretAccessKey }}"
