fullnameOverride: hb-seaweedfs-standard-v4s64

master:
  resources:
    limits:
      cpu: 500m
      memory: 1024Mi
    requests:
      cpu: 50m
      memory: 512Mi
  persistence:
    enabled: true
    size: 1Gi
    storageClass: ""

filer:
  resources:
    limits:
      cpu: 500m
      memory: 1024Mi
    requests:
      cpu: 50m
      memory: 512Mi
  persistence:
    enabled: true
    size: 8Gi
    storageClass: ""

volume:
  replicas: 4
  resources:
    limits:
      cpu: 500m
      memory: 1024Mi
    requests:
      cpu: 50m
      memory: 512Mi
  persistence:
    meta:
      enabled: true
      size: 1Gi
      storageClass: ""
    data:
      enabled: true
      size: 64Gi
      storageClass: ""
  compactionMBps: 10
