{{- /*
Copyright VMware, Inc.
SPDX-License-Identifier: APACHE-2.0
*/}}

apiVersion: v1
kind: Service
metadata:
  name: {{ include "mysql.router.fullname" . }}
  namespace: {{ include "common.names.namespace" . | quote }}
  labels: {{- include "common.labels.standard" . | nindent 4 }}
    app.kubernetes.io/component: router
    {{- if .Values.commonLabels }}
    {{- include "common.tplvalues.render" ( dict "value" .Values.commonLabels "context" $ ) | nindent 4 }}
    {{- end }}
  annotations:
    {{- if .Values.commonAnnotations }}
    {{- include "common.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
    {{- end }}
    {{- if .Values.router.service.annotations }}
    {{- include "common.tplvalues.render" ( dict "value" .Values.router.service.annotations "context" $ ) | nindent 4 }}
    {{- end }}
spec:
  type: {{ .Values.router.service.type }}
  {{- if and .Values.router.service.clusterIP (eq .Values.router.service.type "ClusterIP") }}
  clusterIP: {{ .Values.router.service.clusterIP }}
  {{- end }}
  {{- if .Values.router.service.sessionAffinity }}
  sessionAffinity: {{ .Values.router.service.sessionAffinity }}
  {{- end }}
  {{- if .Values.router.service.sessionAffinityConfig }}
  sessionAffinityConfig: {{- include "common.tplvalues.render" (dict "value" .Values.router.service.sessionAffinityConfig "context" $) | nindent 4 }}
  {{- end }}
  {{- if or (eq .Values.router.service.type "LoadBalancer") (eq .Values.router.service.type "NodePort") }}
  externalTrafficPolicy: {{ .Values.router.service.externalTrafficPolicy | quote }}
  {{- end }}
  {{- if and (eq .Values.router.service.type "LoadBalancer") (not (empty .Values.router.service.loadBalancerSourceRanges)) }}
  loadBalancerSourceRanges: {{ .Values.router.service.loadBalancerSourceRanges }}
  {{- end }}
  {{- if and (eq .Values.router.service.type "LoadBalancer") (not (empty .Values.router.service.loadBalancerIP)) }}
  loadBalancerIP: {{ .Values.router.service.loadBalancerIP }}
  {{- end }}
  ports:
    - name: routerrw 
      port: {{ .Values.router.service.portrw }}
      protocol: TCP
      targetPort: routerrw
      {{- if (and (or (eq .Values.router.service.type "NodePort") (eq .Values.router.service.type "LoadBalancer")) .Values.router.service.nodePorts.mysql) }}
      nodePort: {{ .Values.router.service.nodePorts.mysql }}
      {{- else if eq .Values.router.service.type "ClusterIP" }}
      nodePort: null
      {{- end }}
    - name: routerro
      port: {{ .Values.router.service.portro}}
      protocol: TCP
      targetPort: routerro
      {{- if (and (or (eq .Values.router.service.type "NodePort") (eq .Values.router.service.type "LoadBalancer")) .Values.router.service.nodePorts.mysql) }}
      nodePort: {{ .Values.router.service.nodePorts.mysql }}
      {{- else if eq .Values.router.service.type "ClusterIP" }}
      nodePort: null
      {{- end }}
    {{- if .Values.router.service.extraPorts }}
    {{- include "common.tplvalues.render" (dict "value" .Values.router.service.extraPorts "context" $) | nindent 4 }}
    {{- end }}
    
  selector: {{ include "common.labels.matchLabels" . | nindent 4 }}
    app.kubernetes.io/component: router
