## @param fullnameOverride String to fully override common.names.fullname
##
fullnameOverride: hb-kafka-standard-1c2g3w

## @section Controller-eligible statefulset parameters
##
controller:
  ## @param controller.replicaCount Number of Kafka controller-eligible nodes
  ## Ignore this section if running in Zookeeper mode.
  ##
  replicaCount: 3
  ## @param controller.heapOpts Kafka Java Heap size for controller-eligible nodes
  ##
  heapOpts: -Xmx1024m -Xms1024m
  resources:
    limits:
      cpu: 1000m
      memory: 2Gi
    requests:
      cpu: 500m
      memory: 1Gi
  ## Enable persistence using Persistent Volume Claims
  ## ref: https://kubernetes.io/docs/concepts/storage/persistent-volumes/
  ##
  persistence:
    ## @param controller.persistence.size PVC Storage Request for Kafka data volume
    ##
    size: 16Gi
