name: prometheus
version: 2
id: b8f70264-eafc-4b2f-848e-2ec0d059032b
description: "prometheus."
displayName: "prometheus"
metadata:
  displayName: "prometheus"
  provider:
    name: drycc
    supportURL: https://prometheus.io
  documentationURL: https://github.com/drycc-addons/drycc-docker-prometheus
tags: prometheus
bindable: true
instances_retrievable: true
bindings_retrievable: true
plan_updateable: true
allow_parameters:
- name: "networkPolicy.allowNamespaces"
  required: false
  description: "networkPolicy allowNamespaces config for values.yaml"
- name: "server.service.type"
  required: false
  description: "service type config for values.yaml"
- name: "alertmanager.enabled"
  required: false
  description: "alertmanager config for values.yaml"
- name: "alertmanager.configuration"
  required: false
  description: "alertmanager config for values.yaml"
- name: "server.username"
  required: false
  description: "prometheus administor username"
- name: "server.password"
  required: false
  description: "prometheus administor password"
- name: "drycc"
  required: false
  description: "container scrape"
- name: "server.extraScrapeConfigs"
  required: false
  description: "extra scrape configs"
- name: "server.rules"
  required: false
  description: "rules config for values.yaml"
archive: false
